*~
*.swp
*.o
*.strip
*.pyc
/*.gcda
/*.su
/_*
/duk.*
/duk
/dukd
/dukd.*
/duk-clang
/duk-sanitize-clang
/duk-g++
/duk-size
/duk-perf
/duk-perf.*
/duk-perf-*
/duk-pgo
/duk-pgo.*
/duk-pgo-*
/duk-perf-pgo
/duk-perf-pgo.*
/duk-perf-pgo-*
/duk-low
/duk-low-norefc
/duk-low-rom
/libduktape.*
/docker-input.zip
/docker-output.zip
/docker/*/gitconfig
/docker/*/prepare_repo.sh
/build/
/prep/
/dist/
/site/
/stuff/
/autotest/
/duktape-releases/
/doc/*.pdf
/UglifyJS/
/UglifyJS2/
/closure-compiler/
/linenoise/
/underscore/
/lodash/
/lz-string/
/cbor-js/
/test262-d067d2f0ca30/
/test262-es5-tests/
/es5-tests.zip
/JS-Interpreter/
/runtests/node_modules/
/d067d2f0ca30.tar.bz2
/595a36b252ee97110724e6fa89fc92c9aa9a206a.zip
/regfuzz-0.1.tar.gz
/compiler-latest.zip
/compiler.jar
/cloc-1.60.pl
/lua-5.2.3.tar.gz
/luajs.zip
/bluebird.js
/dukvm.js
/jquery-1.11.0.js
/jquery-1.11.2.js
/coffee-script
/LiveScript
/coco
/sax-js
/xmldoc
/FlameGraph
/dtrace4linux
/flow
/v20140814.tar.gz
/citylots.json
/massif-*.out
/ms_print.*
/dukweb.js
/debugger/jquery-ui-1.11.2.zip
/debugger/jquery-ui-1.11.2/
/debugger/node_modules/
/debugger/static/images/
/debugger/static/jquery-1.11.1.min.js
/debugger/static/jquery-ui.min.css
/debugger/static/jquery-ui.min.js
/debugger/static/reset.css
/debugger/static/socket.io-1.2.0.js
/references/ECMA-262 5th edition December 2009.pdf
/references/ECMA-262 5.1 edition June 2011.pdf
/references/ECMA-262.pdf
/tests/octane/octane
