body {
	margin: 20px;
}

#dukweb-intro {
	width: 80%;
	color: #aaaaaa;
	font-style: italic;
}

#dukweb-input {
	width: 80%;
	height: 20em;
	border: 2px solid #cccccc;
	border-radius: 5px;
	padding: 6px;
}

#dukweb-output {
	width: 80%;
	height: 20em;
	border: 2px solid #cccccc;
	border-radius: 5px;
	padding: 6px;
}

#dukweb-evaluate-wrapper {
	margin: 3ex 0 3ex 0;
	width: 80%;
	text-align: center;
}

#dukweb-evaluate {
	color: #333333;
	background: #eeeeff;
	font-size: 200%;
	border: 2px solid #ccccff;
	border-radius: 5px;
	padding: 8px;
}
#dukweb-evaluate:hover {
	background: #f8f8ff;
	cursor: pointer;
}

#dukweb-evaluate span {
}
