/*
 *  Site bottom part CSS rules
 */

#site-bottom {
	clear: both;
	width: 100%;
	padding: 18px 0px 20px 0px;
	border: 0;
	border-top: 2px solid #dddddd;
	margin: 10ex 0px 0px 0px;
	background: #eeeeee;
	color: #888888;
	font-size: 10pt;
}
@media print {
	#site-bottom {
		font-size: 8pt;
	}
}

#site-bottom p {
	color: #888888;
	margin-top: 1ex;
	text-align: center;
}
#site-bottom a {
	color: #6666ee;
	text-decoration: none;
}
#site-bottom a:visited {
	color: #6666ee;
	text-decoration: none;
}
#site-bottom a:hover {
	color: #222288;
	text-decoration: underline;
}

