/*
 *  Guide specific CSS rules
 */

.typeshorthand tbody td:nth-child(1) {
	text-align: center;
}

.typecomparison tbody td {
	text-align: center;
}

.propname {
	font-family: monospace;
}

.definename {
	font-family: monospace;
}

.highlight {
	background: #eeeeee;
}
