/*
 *  Download page specific CSS rules
 */

#download {
	margin: 0 0 1em 1em;
}

#download .hash {
	font-family: monospace;
}

#download .latest {
	border: 1px dashed #cccccc;
	background: #f8f8f8;
}

/* Control table cells only if browser is wide enough */
@media screen and (min-width:800px) {
	.releases {
		width: 90%;
	}
	.releases tr {
		height: 3ex;
	}
	.releases .reldate {
		width: 6em;
	}
	.releases .filename {
		width: 12.5em;
	}
	.releases .description {
		/* flex */
	}
	.releases .hash {
		/* XXX: this is sized using -parent- font, not the monospace one */
		width: 20em;
	}
}

