/*
 *  HTML / body level CSS rules
 *
 *  Includes font loading rules.
 */

.clear {
	clear: both;
}

/* Used to allow browser search for e.g. ".duk_push_nan" in the index,
 * but leave the dot hidden.  Note that "display: none" or "visibility: hidden"
 * don't work, as browsers (at least Chromium) won't then find the char
 * in a search.
 */
.hidechar {
	color: #ffffff;
	font-size: 0pt;
}

/* Horizontal rules have been added for text browsers, never show them
 * normally.
 */
hr {
	display: none;
}

html {
	background: #ffffff;
	color: #000000;
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background: #ffffff;
	color: #000000;
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Open Sans', sans-serif;
	/*font-family: 'Open Sans', fantasy;*/  /* useful for debugging font loading */
	font-weight: 400;
	font-size: 12pt;
}
@media print {
	body {
		font-family: serif;
		font-weight: 400;
		font-size: 10pt;
	}
}

/* web font loading */
html {
	visibility: hidden;
}
html.wf-active {
	visibility: visible;
}
html.wf-inactive {
	visibility: visible;
}
html.wf-fail {
	/* custom rule, see: http://kevindew.me/post/47052453532/a-fallback-for-when-google-web-font-loader-fails */
	visibility: visible;
}
html.wf-nojavascript {
	/* custom rule, allows non-javascript browsers to render using fallback fonts */
	visibility: visible;
}

