#site-top {
	width: 100%;
	padding: 20px 0px 20px 0px;
	border: 0;
	margin: 0;
	background: #444444;
	color: #ffffff;
	box-shadow: 10px 10px 15px #bbbbbb;
}
@media print {
	#site-top {
		display: none;
	}
}

#site-top-logo {
	display: inline;
	margin: 0 0 0 1em;
}

#logo {
	display: inline;
	font-family: 'Droid Sans Mono', sans-serif;
	/*font-family: 'Droid Sans Mono', fantasy;*/
	font-size: 24pt;
	font-weight: 400;
	color: #ffffff;
	text-shadow: 3px 3px 3px #000000;
	filter: dropshadow(color=#000000, offx=3, offy=3);
}
@media print {
	#logo {
		font-family: 'Droid Sans Mono', sans-serif;
		font-size: 20pt;
		font-weight: 400;
	}
}

#logo:hover {
	/* transition: text-shadow 3s; */
	text-shadow: 5px 5px 5px #000000;
	filter: dropshadow(color=#000000, offx=5, offy=5);
}

#site-top-nav {
	display: inline;
	float: right;
/*
	margin: 0 1em 0 0;
*/
	margin: 0.5ex 1em 0 0;
}

#site-top-nav ul {
	display: inline;
	margin: 0;
	border: 0;
	padding: 0;
}

#site-top-nav ul li {
	display: inline;
	margin-right: 1em;
/*
	font-family: 'Open Sans', sans-serif;
	font-size: 24pt;
	font-weight: 400;
*/
	font-family: 'Droid Sans Mono', sans-serif;
	font-size: 18pt;
	font-weight: 400;

	color: #cccccc;
}

#site-top-nav ul li a {
	color: #cccccc;
	text-decoration: none;
}

#site-top-nav ul li.selected a {
	color: #ffffff;
	text-shadow: 3px 3px 3px #000000;
	filter: dropshadow(color=#000000, offx=3, offy=3);
}

#site-top-nav ul li a:hover {
	color: #9999ff;
	text-shadow: 3px 3px 3px #000000;
	filter: dropshadow(color=#000000, offx=3, offy=3);
}

